version: 2
jobs:
  prepare_dependencies:
    docker:
      - image: circleci/android:api-28-alpha
    environment:
      JVM_OPTS: -Xmx3200m
      #TERM: dumb

    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies --stacktrace
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}
      - run:
          name: Clean git
          command: git gc
      - save_cache:
          key: source-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"
  build_and_test:
    docker:
      - image: circleci/android:api-28-alpha
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}
      - run:
          name: Build
          command: ./gradlew clean assemble sourcesJar dokkaJar --stacktrace
      - run:
          name: Tests
          command: ./gradlew tests:test --stacktrace
      - save_cache:
          paths:
            - mocker/build
          key: artifacts-mocker-{{ .Branch }}-{{ .Revision }}
      - save_cache:
          paths:
            - jackson-adapter/build
          key: artifacts-jackson-{{ .Branch }}-{{ .Revision }}
      - save_cache:
          paths:
            - tests/build
          key: artifacts-tests-{{ .Branch }}-{{ .Revision }}
  store_artifacts:
    docker:
      - image: circleci/android:api-28-alpha
    steps:
      - restore_cache:
          key:  artifacts-mocker-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key:  artifacts-jackson-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key:  artifacts-tests-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Gather libs
          command: ./prepareArtifacts.sh
      - store_artifacts:
          path: build/libs
          destination: libs
      - store_artifacts:
          path: build/reports
          destination: reports
      - store_test_results:
          path: build/test-results
  publish_snapshot:
    docker:
      - image: circleci/android:api-28-alpha
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}
      - restore_cache:
          key:  artifacts-mocker-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key:  artifacts-jackson-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key:  artifacts-tests-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Publish
          command: ./publishSnapshot.sh ${BINTRAY_USER} ${BINTRAY_APIKEY}
  publish_release:
    docker:
      - image: circleci/android:api-28-alpha
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}
      - restore_cache:
          key:  artifacts-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Publish
          command: ./publish.sh ${BINTRAY_USER} ${BINTRAY_APIKEY}

workflows:
  version: 2
  build_and_publish:
    jobs:
      - prepare_dependencies
      - build_and_test:
          requires:
            - prepare_dependencies
      - store_artifacts:
          requires:
            - build_and_test
      - publish_snapshot:
          requires:
            - build_and_test
          filters:
            branches:
              only: develop
      - publish_release:
          requires:
            - build_and_test
          filters:
            branches:
              only: master