version: 2.1

references:
  container_config: &container_config
    docker:
      - image: circleci/android:api-30

    working_directory: ~/data

    environment:
      JVM_OPTS: -Xmx3g

commands:
  restore_sources_and_gradle:
    description: "Restores previous build steps state"
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - checkout
      - restore_cache:
          keys:
            - jars-{{ checksum "build.gradle" }}-{{ checksum "gradle/versions.gradle" }}-{{ checksum "mocker-core/build.gradle" }}-{{ checksum "mocker-okhttp/build.gradle" }}-{{ checksum "mocker-ktor/build.gradle" }}-{{ checksum "jackson-adapter/build.gradle" }}-{{ checksum "gson-adapter/build.gradle" }}-{{ checksum "moshi-adapter/build.gradle" }}-{{ checksum "custom-adapter/build.gradle" }}-{{ checksum "kotlinx-adapter/build.gradle" }}-{{ checksum "sax-adapter/build.gradle" }}-{{ checksum "demo/build.gradle" }}
            - jars-{{ checksum "build.gradle" }}-{{ checksum "gradle/versions.gradle" }}-{{ checksum "mocker-core/build.gradle" }}-{{ checksum "mocker-okhttp/build.gradle" }}-{{ checksum "mocker-ktor/build.gradle" }}-{{ checksum "jackson-adapter/build.gradle" }}-{{ checksum "gson-adapter/build.gradle" }}-{{ checksum "moshi-adapter/build.gradle" }}-{{ checksum "custom-adapter/build.gradle" }}-{{ checksum "kotlinx-adapter/build.gradle" }}-{{ checksum "sax-adapter/build.gradle" }}-
            - jars-{{ checksum "build.gradle" }}-{{ checksum "gradle/versions.gradle" }}-{{ checksum "mocker-core/build.gradle" }}-{{ checksum "mocker-okhttp/build.gradle" }}-{{ checksum "mocker-ktor/build.gradle" }}-
            - jars-{{ checksum "build.gradle" }}-{{ checksum "gradle/versions.gradle" }}-{{ checksum "mocker-core/build.gradle" }}
            - jars-{{ checksum "build.gradle" }}-{{ checksum "gradle/versions.gradle" }}-
            - jars-{{ checksum "build.gradle" }}-
            - gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
  build_module:
    description: "Builds a specific module"
    parameters:
      module:
        type: string
    steps:
      - restore_sources_and_gradle
      - restore_cache:
          keys:
            - build-mocker-core-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Build
          command: ./gradlew --no-daemon << parameters.module >>:clean << parameters.module >>:assemble << parameters.module >>:sourcesJar --stacktrace
      - save_cache:
          key: build-<< parameters.module >>-{{ .Branch }}-{{ .Revision }}
          paths:
            - << parameters.module >>/build
  restore_all_caches:
    description: "Restores previous build steps state"
    steps:
      - restore_sources_and_gradle
      - restore_cache:
          keys:
            - build-mocker-core-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-mocker-okhttp-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-mocker-ktor-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-jackson-adapter-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-gson-adapter-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-moshi-adapter-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-custom-adapter-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-kotlinx-adapter-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-sax-adapter-{{ .Branch }}-{{ .Revision }}

orbs:
  codecov: codecov/codecov@1.0.2

jobs:
  init_workspace:
    <<: *container_config
    steps:
      - restore_sources_and_gradle
      - run:
          name: Download Dependencies
          command: ./gradlew --no-daemon androidDependencies --stacktrace
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "gradle/versions.gradle" }}-{{ checksum "mocker-core/build.gradle" }}-{{ checksum "mocker-okhttp/build.gradle" }}-{{ checksum "mocker-ktor/build.gradle" }}-{{ checksum "jackson-adapter/build.gradle" }}-{{ checksum "gson-adapter/build.gradle" }}-{{ checksum "moshi-adapter/build.gradle" }}-{{ checksum "custom-adapter/build.gradle" }}-{{ checksum "kotlinx-adapter/build.gradle" }}-{{ checksum "sax-adapter/build.gradle" }}-{{ checksum "demo/build.gradle" }}
      - save_cache:
          paths:
            - ~/.gradle/wrapper
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - run:
          name: Clean git
          command: git gc
      - save_cache:
          key: source-{{ .Branch }}-{{ .Revision }}
          paths:
            - "."
  build_core:
    <<: *container_config
    steps:
      - restore_sources_and_gradle
      - run:
          name: Build
          command: ./gradlew --no-daemon mocker-core:clean mocker-core:assemble mocker-core:jvmSourcesJar --stacktrace
      - save_cache:
          key: build-mocker-core-{{ .Branch }}-{{ .Revision }}
          paths:
            - mocker-core/build
  build_okhttp:
    <<: *container_config
    steps:
      - build_module:
          module: "mocker-okhttp"
  build_ktor:
    <<: *container_config
    steps:
      - build_module:
          module: "mocker-ktor"
  build_jackson:
    <<: *container_config
    steps:
      - build_module:
          module: "jackson-adapter"
  build_gson:
    <<: *container_config
    steps:
      - build_module:
          module: "gson-adapter"
  build_moshi:
    <<: *container_config
    steps:
      - build_module:
          module: "moshi-adapter"
  build_custom:
    <<: *container_config
    steps:
      - build_module:
          module: "custom-adapter"
  build_kotlinx:
    <<: *container_config
    steps:
      - build_module:
          module: "kotlinx-adapter"
  build_sax:
    <<: *container_config
    steps:
      - build_module:
          module: "sax-adapter"
  build_demo:
    <<: *container_config
    steps:
      - restore_sources_and_gradle
      - restore_cache:
          keys:
            - build-mocker-core-{{ .Branch }}-{{ .Revision }}
            - build-mocker-okhttp-{{ .Branch }}-{{ .Revision }}
            - build-jackson-adapter-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Build
          command: ./gradlew --no-daemon demo:clean demo:assembleRelease demo:testOkhttpReleaseUnitTest demo:testKtorReleaseUnitTest demo:lint --stacktrace
      - store_test_results:
          path: demo/build/test-results
      - store_artifacts:
          path: demo/build/outputs/apk/
          destination: apks
      - store_artifacts:
          path: demo/build/reports
          destination: reports
  store_artifacts:
    <<: *container_config
    steps:
      - restore_all_caches
      - run:
          name: Gather libs
          command: ./prepareArtifacts.sh
      - store_artifacts:
          path: build/libs
          destination: libs
  test:
    <<: *container_config
    steps:
      - restore_all_caches
      - run:
          name: Tests
          command: ./gradlew --no-daemon tests:test tests:jacocoTestReport test:sendCoverageToCodacy --stacktrace
      - store_artifacts:
          path: tests/build/reports
          destination: reports
      - store_test_results:
          path: tests/build/test-results
          format: junit
      - codecov/upload:
          file: tests/build/reports/jacoco/test/jacocoTestReport.xml
      - save_cache:
          key: build-{{ .Branch }}-{{ .Revision }}
          paths:
            - "."
  quality:
    <<: *container_config
    steps:
      - restore_sources_and_gradle
      - run:
          name: Check quality
          command: ./gradlew --no-daemon detekt ktlintCheck --stacktrace
      - store_artifacts:
          path: mocker-core/build/reports
          destination: reports/mocker-core
      - store_artifacts:
          path: mocker-okhttp/build/reports
          destination: reports/mocker-okhttp
      - store_artifacts:
          path: mocker-ktor/build/reports
          destination: reports/mocker-ktor
      - store_artifacts:
          path: custom-adapter/build/reports
          destination: reports/custom-adapter
      - store_artifacts:
          path: gson-adapter/build/reports
          destination: reports/gson-adapter
      - store_artifacts:
          path: jackson-adapter/build/reports
          destination: reports/jackson-adapter
      - store_artifacts:
          path: kotlinx-adapter/build/reports
          destination: reports/kotlinx-adapter
      - store_artifacts:
          path: sax-adapter/build/reports
          destination: reports/sax-adapter
      - store_artifacts:
          path: moshi-adapter/build/reports
          destination: reports/moshi-adapter
      - store_artifacts:
          path: tests/build/reports
          destination: reports/tests
      - store_artifacts:
          path: demo/build/reports
          destination: reports/demo
      - save_cache:
          key: build-{{ .Branch }}-{{ .Revision }}
          paths:
            - "."
  publish_snapshot:
    <<: *container_config
    steps:
      - restore_cache:
          key: build-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - run:
          name: Publish
          command: ./publishSnapshot.sh ${BINTRAY_USER} ${BINTRAY_APIKEY}
  publish_release:
    <<: *container_config
    steps:
      - restore_cache:
          key: build-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - run:
          name: Publish
          command: ./publish.sh ${BINTRAY_USER} ${BINTRAY_APIKEY}

workflows:
  version: 2
  build_and_publish:
    jobs:
      - init_workspace
      - build_core:
          requires:
            - init_workspace
      - build_okhttp:
          requires:
            - build_core
      - build_ktor:
          requires:
            - build_core
      - build_jackson:
          requires:
            - build_core
      - build_gson:
          requires:
            - build_core
      - build_moshi:
          requires:
            - build_core
      - build_custom:
          requires:
            - build_core
      - build_kotlinx:
          requires:
            - build_core
      - build_sax:
          requires:
            - build_core
      - build_demo:
          requires:
            - build_okhttp
            - build_ktor
            - build_jackson
            - build_kotlinx
      - store_artifacts:
          requires:
            - build_okhttp
            - build_ktor
            - build_jackson
            - build_gson
            - build_moshi
            - build_custom
            - build_kotlinx
            - build_sax
      - test:
          requires:
            - build_okhttp
            - build_ktor
            - build_jackson
            - build_gson
            - build_moshi
            - build_custom
            - build_kotlinx
            - build_sax
      - quality:
          requires:
            - init_workspace
      - publish_snapshot:
          requires:
            - test
            - quality
          filters:
            branches:
              only: develop
      - publish_release:
          requires:
            - test
            - quality
          filters:
            branches:
              only: master
