version: 2.1

references:
  container_config: &container_config
    docker:
      - image: circleci/android:api-29

    working_directory: ~/data

    environment:
      JVM_OPTS: -Xmx3g

commands:
  build_module:
    description: "Builds a specific module"
    parameters:
      module:
        type: string
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - checkout
      - restore_cache:
          keys:
            - jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}-{{ checksum  "gson-adapter/build.gradle" }}-{{ checksum  "moshi-adapter/build.gradle" }}-{{ checksum  "custom-adapter/build.gradle" }}
            - gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - restore_cache:
          keys:
            - build-mocker-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Build
          command: ./gradlew << parameters.module >>:clean << parameters.module >>:assemble << parameters.module >>:sourcesJar << parameters.module >>:dokkaJar --stacktrace
      - save_cache:
          key: build-<< parameters.module >>-{{ .Branch }}-{{ .Revision }}
          paths:
            - << parameters.module >>/build
  restore_all_caches:
    description: "Restores previous build steps state"
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - checkout
      - restore_cache:
          keys:
            - jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}-{{ checksum  "gson-adapter/build.gradle" }}-{{ checksum  "moshi-adapter/build.gradle" }}-{{ checksum  "custom-adapter/build.gradle" }}
            - gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - restore_cache:
          keys:
            - build-mocker-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-jackson-adapter-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-gson-adapter-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-moshi-adapter-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-custom-adapter-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-kotlinx-adapter-{{ .Branch }}-{{ .Revision }}

orbs:
  codecov: codecov/codecov@1.0.2

jobs:
  build_core:
    <<: *container_config
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - checkout
      - restore_cache:
          keys:
            - jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}-{{ checksum  "gson-adapter/build.gradle" }}-{{ checksum  "moshi-adapter/build.gradle" }}-{{ checksum  "custom-adapter/build.gradle" }}
            - gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies --stacktrace
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}-{{ checksum  "gson-adapter/build.gradle" }}-{{ checksum  "moshi-adapter/build.gradle" }}-{{ checksum  "custom-adapter/build.gradle" }}
      - save_cache:
          paths:
            - ~/.gradle/wrapper
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - run:
          name: Clean git
          command: git gc
      - save_cache:
          key: source-{{ .Branch }}-{{ .Revision }}
          paths:
            - "."
      - run:
          name: Build
          command: ./gradlew mocker:clean mocker:assemble mocker:sourcesJar mocker:dokkaJar --stacktrace
      - save_cache:
          key: build-mocker-{{ .Branch }}-{{ .Revision }}
          paths:
            - mocker/build
  build_jackson:
    <<: *container_config
    steps:
      - build_module:
          module: "jackson-adapter"
  build_gson:
    <<: *container_config
    steps:
      - build_module:
          module: "gson-adapter"
  build_moshi:
    <<: *container_config
    steps:
      - build_module:
          module: "moshi-adapter"
  build_custom:
    <<: *container_config
    steps:
      - build_module:
          module: "custom-adapter"
  build_kotlinx:
    <<: *container_config
    steps:
      - build_module:
          module: "kotlinx-adapter"
  build_demo:
    <<: *container_config
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}-
            - source-
      - checkout
      - restore_cache:
          keys:
            - jars-{{ checksum "build.gradle" }}-{{ checksum  "demo/build.gradle" }}-{{ checksum  "mocker/build.gradle" }}-{{ checksum  "jackson-adapter/build.gradle" }}-{{ checksum  "gson-adapter/build.gradle" }}-{{ checksum  "moshi-adapter/build.gradle" }}-{{ checksum  "custom-adapter/build.gradle" }}
            - gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - restore_cache:
          keys:
            - build-mocker-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          keys:
            - build-jackson-adapter-{{ .Branch }}-{{ .Revision }}
      - run:
          name: Build
          command: ./gradlew demo:clean demo:assembleRelease demo:testReleaseUnitTest --stacktrace
      - store_test_results:
          path: demo/build/test-results
      - store_artifacts:
          path: demo/build/outputs/apk/
          destination: apks
  store_artifacts:
    <<: *container_config
    steps:
      - restore_all_caches
      - run:
          name: Gather libs
          command: ./prepareArtifacts.sh
      - store_artifacts:
          path: build/libs
          destination: libs
  test:
    <<: *container_config
    steps:
      - restore_all_caches
      - run:
          name: Tests
          command: ./gradlew tests:test tests:jacocoTestReport --stacktrace
      - store_artifacts:
          path: tests/build/reports
          destination: reports
      - store_test_results:
          path: tests/build/test-results
          format: junit
      - codecov/upload:
          file: tests/build/reports/test/jacocoTestReport.xml
      - save_cache:
          key: build-{{ .Branch }}-{{ .Revision }}
          paths:
            - "."
  quality:
    <<: *container_config
    steps:
      - restore_all_caches
      - run:
          name: Tests
          command: ./gradlew detekt ktlintCheck lint --stacktrace
      - store_artifacts:
          path: mocker/build/reports
          destination: reports
      - store_test_results:
          path: mocker/build/reports
          format: junit
      - save_cache:
          key: build-{{ .Branch }}-{{ .Revision }}
          paths:
            - "."
  publish_snapshot:
    <<: *container_config
    steps:
      - restore_cache:
          key: build-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - run:
          name: Publish
          command: ./publishSnapshot.sh ${BINTRAY_USER} ${BINTRAY_APIKEY}
  publish_release:
    <<: *container_config
    steps:
      - restore_cache:
          key: build-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - run:
          name: Publish
          command: ./publish.sh ${BINTRAY_USER} ${BINTRAY_APIKEY}

workflows:
  version: 2
  build_and_publish:
    jobs:
      - build_core
      - build_jackson:
          requires:
            - build_core
      - build_gson:
          requires:
            - build_core
      - build_moshi:
          requires:
            - build_core
      - build_custom:
          requires:
            - build_core
      - build_kotlinx:
          requires:
            - build_core
      - build_demo:
          requires:
            - build_jackson
      - store_artifacts:
          requires:
            - build_jackson
            - build_gson
            - build_moshi
            - build_custom
            - build_kotlinx
      - test:
          requires:
            - build_jackson
            - build_gson
            - build_moshi
            - build_custom
            - build_kotlinx
      - quality:
          requires:
            - build_jackson
            - build_gson
            - build_moshi
            - build_custom
            - build_kotlinx
      - publish_snapshot:
          requires:
            - test
            - quality
          filters:
            branches:
              only: develop
      - publish_release:
          requires:
            - test
          filters:
            branches:
              only: master
